{% extends 'layout.html.twig' %}

{% import "utils.html.twig" as content %}

{% block container %}
<!--Container-->
<div class="container w-full md:max-w-5xl mx-auto pt-10 md:pt-20">

    <div class="w-full h-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

        <!--Title-->
        <div class="font-sans mb-10">
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                Despre Noi
            </h1>
            <p class="text-sm md:text-base font-normal text-gray-600">Acasa > Despre Noi</p>
        </div>

        <p class="mb-8">
            Asociația Obștească ASOCIAȚIA FERMIERILOR ȘI ÎNTREPRINZĂTORILOR REGIONALI
            ”PODIȘ”, este o asociație non-profit, apolitică, de utilitate și interes civil din com.
            Dumbrăvița, r-nul Sîngerei, Republica Moldova.
        </p>
        <p class="mb-8">
            Reprezintă viziunile și interesele
            membrilor săi, urmărind dezvoltarea multi-parteneriatelor cu comunitățile
            compatibile (române) și străine care promovează politicile locale de advocacy și
            lobby în favoarea implementării proiectelor sau altor programe de utilitate
            publică, comunitară, regională și extra-regională.
        </p>
        <p class="mb-8">
            Este dedicată activităților
            economice și non-economice, de credit și investiționale, de atragere a investițiilor și
            granturilor, de multiplicare a parteneriatelor și cooperărilor relevante, sociale și de
            suport public, cu beneficii non-for-profit și de interes comun pentru comunitățile de
            români de pretutindeni.
        </p>

        <h3 class="font-bold mb-8">PORTOFOLIUL DE SERVICII</h3>

        <p class="mb-3">
            AO PODIS ofera in plan national si international urmatoarele Servicii:
        </p>

        <ul class="list-disc ml-10 mb-8">
            <li>
                Asistenta si consultanta in afaceri, business-uri, investitii si credite
            </li>
            <li>
                Elaborarea de concepte si viziuni de proiecte economice si non-economice oferite grupelor variate
                de producatori, institutiilor publice si private
            </li>
            <li>
                Abordarea si utilizarea metodelor si analizelor holistice inovationale de promovare a business-urilor
                competitive prin Lantul Valorii, Sistemul Valorii, LFA, SWOT, analiza Cluster, marketing
            </li>
            <li>
                Analize de piata, metodele Portofoliului de Active si Portofoliului de Servicii, planuri de afaceri,
                strategii concurentiale si de pozitionare pe piete
            </li>
            <li>
                Facilitarea si Elaborarea strategiilor de dezvoltare si a planurilor strategice comunitare,
                regionale, ranurale
            </li>
            <li>
                Facilitarea parteneriatelor si a colaborarilor publice, private, public - private si asociative
            </li>
        </ul>

        <h3 class="font-bold mb-8">MANAGEMENT STRUCTURE</h3>

        <p class="mb-3">
            Conform Statutului Asociației organele de conducere si control sunt:
        </p>
        <ul class="list-decimal ml-10 mb-8">
            <li>Adunarea Generala</li>
            <li>Consiliul Asociatiei</li>
            <li>Administratorul</li>
            <li>Cenzorul</li>
        </ul>
    </div>

    {{ content.callToAction(callToAction) }}
</div>
<!--/container-->

{% endblock %}
