{% extends 'layout.html.twig' %}

{% block styles %}
<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
        overflow: auto;
    }
</style>
{% endblock %}

{% block container %}
    <!--Container-->
    <div class="container w-full md:max-w-5xl mx-auto pt-20">

        <!--Other Methods-->
        <div class="container px-4 mb-20 mt-2 bg-white rounded-md bg-gradient-to-b from-green-100 to-gray-100" style="min-height: 75vh;">
            <h2 class="text-center font-bold break-normal text-xl md:text-3xl pt-10">Vă mulțumim pentru interesul acordat asociației noastre</h2>
            <h3 class="text-center font-bold break-normal text-gray-600 text-sm md:text-base mb-10">Ne puteți ajuta prin următoarele metode</h3>

            <main class="w-full md:w-4/5 p-8 mx-auto">
                <section class="shadow row bg-white">
                    <div class="tabs space-x-0.5">
                        <div class="border-b tab">
                            <div class="border-l-2 border-transparent relative">
                                <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck3">
                                <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none tab-label" for="chck3">
                                <span class="text-grey-darkest text-xl">
                                    Bank Wire Transfer
                                </span>
                                    <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                        <!-- icon by feathericons.com -->
                                        <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <polyline points="6 9 12 15 18 9">
                                            </polyline>
                                        </svg>
                                    </div>
                                </header>
                                <div class="tab-content">
                                    <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                                        <!--Title-->
                                        <address class="text-left">
                                            <strong>Bank Name:</strong>
                                            BC MOLDINDCONBANK SA, Sucursala din or. Singerei
                                            <br>
                                            <strong>Identification number:</strong>
                                            1012620006602
                                            <br>
                                            <strong>IBAN (in EUR):</strong>
                                            MD26ML000000000225143941
                                            <br>
                                            <strong>SWIFT:</strong>
                                            MOLDMD2X
                                            <br>
                                            <strong>Address:</strong>
                                            Republic of Moldova, c. Dumbravita, r. Singerei, MD-6224
                                            <br>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b tab">
                            <div class="border-l-2 border-transparent relative">
                                <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck1">
                                <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none tab-label" for="chck1">
                                <span class="text-bold text-grey-darkest text-xl">
                                    P2P Transfer
                                </span>
                                    <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                        <!-- icon by feathericons.com -->
                                        <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <polyline points="6 9 12 15 18 9">
                                            </polyline>
                                        </svg>
                                    </div>
                                </header>
                                <div class="tab-content">
                                    <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                                        <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap justify-between items-center mb-10">
                                            <div class="flex-1 px-2">
                                                <p class=" text-left text-base font-bold text-base md:text-xl leading-none mb-2">ClickPay</p>
                                                <p class=" text-left text-gray-600 text-xs md:text-base">
                                                    <a class="text-green-500 no-underline hover:underline" target="_blank"
                                                       href="https://clickpay.md/ro/tariffs-and-limits">Tarife de transfer card la card</a>
                                                </p>
                                            </div>
                                            <div>
                                                <a href="https://clickpay.md/" target="_blank"
                                                   class="bg-transparent border border-gray-500 hover:border-green-500 text-md text-gray-500 hover:text-green-500 font-bold py-2 px-4 rounded-full">Donate</a>
                                            </div>
                                        </div>

                                        <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap justify-between items-center mb-10">
                                            <div class="flex-1 px-2">
                                                <p class=" text-left text-base font-bold text-base md:text-xl leading-none mb-2">Transfer MD</p>
                                                <p class=" text-left text-gray-600 text-xs md:text-base">
                                                    <a class="text-green-500 no-underline hover:underline" target="_blank"
                                                       href="https://www.transfer.md/transfer-p2p/">Tarife de transfer card la card</a>
                                                </p>
                                            </div>
                                            <div>
                                                <a href="https://www.transfer.md/transfer-p2p/" target="_blank"
                                                   class="bg-transparent border border-gray-500 hover:border-green-500 text-md text-gray-500 hover:text-green-500 font-bold py-2 px-4 rounded-full">Donate</a>
                                            </div>
                                        </div>

                                        <blockquote class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12">
                                            Pentru tranzacțiile P2P, vă rugăm să utilizați următoarele detalii despre card
                                            <br>
                                            <br>
                                            <strong>Numărul cardului beneficiarului:</strong>  4028110232030178
                                            <br>
                                            <strong>Numele cardului beneficiarului:</strong> Iurie Porcescu
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b tab">
                            <div class="border-l-2 border-transparent relative">
                                <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck2">
                                <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none tab-label" for="chck2">
                                <span class="text-grey-darkest text-xl">
                                    PayPal
                                </span>
                                    <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                        <!-- icon by feathericons.com -->
                                        <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <polyline points="6 9 12 15 18 9">
                                            </polyline>
                                        </svg>
                                    </div>
                                </header>
                                <div class="tab-content">
                                    <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                                        <div id="smart-button-container">
                                            <div style="text-align: center"><label for="description">Name </label><input type="text"
                                                                                                                         name="descriptionInput"
                                                                                                                         id="description"
                                                                                                                         class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none"
                                                                                                                         maxlength="127"
                                                                                                                         value=""></div>
                                            <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please
                                                enter a description</p>
                                            <div style="text-align: center"><label for="amount">Amount </label><input name="amountInput"
                                                                                                                      type="number"
                                                                                                                      id="amount"
                                                                                                                      class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none"
                                                                                                                      value=""><span> EUR</span>
                                            </div>
                                            <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please
                                                enter a price</p>
                                            <div id="invoiceidDiv" style="text-align: center; display: none;"><label
                                                        for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text"
                                                                                        id="invoiceid" value=""></div>
                                            <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please
                                                enter an Invoice ID</p>
                                            <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                                        </div>
                                        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR"
                                                data-sdk-integration-source="button-factory"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- /Other Methods-->
    </div>
    <!--/container-->
{% endblock %}

{% block scripts %}
    <script>
        function initPayPalButton() {
            var description = document.querySelector('#smart-button-container #description');
            var amount = document.querySelector('#smart-button-container #amount');
            var descriptionError = document.querySelector('#smart-button-container #descriptionError');
            var priceError = document.querySelector('#smart-button-container #priceLabelError');
            var invoiceid = document.querySelector('#smart-button-container #invoiceid');
            var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
            var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

            var elArr = [description, amount];

            if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                invoiceidDiv.style.display = "block";
            }

            var purchase_units = [];
            purchase_units[0] = {};
            purchase_units[0].amount = {};

            function validate(event) {
                return event.value.length > 0;
            }

            paypal.Buttons({
                style: {
                    color: 'gold',
                    shape: 'rect',
                    label: 'paypal',
                    layout: 'vertical',

                },

                onInit: function (data, actions) {
                    actions.disable();

                    if (invoiceidDiv.style.display === "block") {
                        elArr.push(invoiceid);
                    }

                    elArr.forEach(function (item) {
                        item.addEventListener('keyup', function (event) {
                            var result = elArr.every(validate);
                            if (result) {
                                actions.enable();
                            } else {
                                actions.disable();
                            }
                        });
                    });
                },

                onClick: function () {
                    if (description.value.length < 1) {
                        descriptionError.style.visibility = "visible";
                    } else {
                        descriptionError.style.visibility = "hidden";
                    }

                    if (amount.value.length < 1) {
                        priceError.style.visibility = "visible";
                    } else {
                        priceError.style.visibility = "hidden";
                    }

                    if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                        invoiceidError.style.visibility = "visible";
                    } else {
                        invoiceidError.style.visibility = "hidden";
                    }

                    purchase_units[0].description = description.value;
                    purchase_units[0].amount.value = amount.value;

                    if (invoiceid.value !== '') {
                        purchase_units[0].invoice_id = invoiceid.value;
                    }
                },

                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: purchase_units,
                    });
                },

                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                },

                onError: function (err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }

        initPayPalButton();
    </script>
{% endblock %}