{% extends 'layout.html.twig' %}

{% import "utils.html.twig" as content %}

{% block container %}
<!--Container-->
<div class="container w-full md:max-w-5xl mx-auto pt-10 md:pt-20">

    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

        <!--Title-->
        <div class="font-sans mb-8">
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                Proiecte
            </h1>
            <p class="text-sm md:text-base font-normal text-gray-600">Acasa > Proiecte</p>
        </div>

        <h3 class="font-bold mb-8">PROIECTE ACTUALE</h3>

        <p class="mb-8">
            <strong>Re-construcția acoperișului Bisericii</strong> – din com. Dumbrăvița, r-nul Sîngerei, în comun cu Primăria
            com. Dumbrăvița  <a class="text-base text-blue-500 text-xl"
                                href="/ro/project-re-construction-of-the-church-roof">
                ..detalii.
            </a>
        </p>
        <p class="mb-8">
            <strong>Amenajarea Basinului hidrografic si a malurilor riverane ale R. Ciulucul Mic </strong> – din com. Dumbrăvița, r-nul Sîngerei<a class="text-base text-blue-500 text-xl"
                                href="/ro/arrangement-of-the-river-banks-of-ciulucul-mic-river">
                ..detalii.
            </a>
        </p>

        <p class="mb-8">
            <strong>Platformă agro</strong> – turistică și de producere cu impact benefic regional și internațional
            dedicata comunității locale, regionale și vizitatorilor stărini interesați în cunoașterea tradițiilor,
            culturii ospitaliere și de agrement din Republica Moldova
        </p>
        <p class="mb-3">
            <strong> Frigider Agro-Industrial</strong> cu camere de ATC de 1500 tone, Linie de Sortare,
            Calibrare si Ambalare amplasate in Dumbravita, Moldova (fructe si pomusoare bio-ecologice si NON-GMO)
            <br>
            Proiectul urmareste sa dezvolte:
        </p>
        <ul class="list-decimal ml-10 mb-8">
            <li>Plantarea livezilor de fructe (mere, prune, visine) si a afinelor</li>
            <li>Constructia Frigiderului agro-industrial</li>
            <li>Linia de Sortare si Calibrare</li>
            <li>Linia de Ambalare</li>
            <li>Linia de Asambare</li>
            <li>Fabrica Vitivinicola</li>
            <li>Fabrica de Procesare a fructelor si afinelor</li>
        </ul>

        <p class="mb-8">
            <strong>Lansarea centrului geo-invoational, lateral, de twinning </strong>Public - Privat Asociativ
            si Religios bazat pe clusterizarea Lanturilor Valorice infrastructurale, economice, de service si turistice
            capabile sa sporeasca Valorile Adaugate si competitivitatea in plan regional
        </p>
        <p class="mb-8">
            <strong>Imputernicirea si Mobilizarea Sociala a Femeilor</strong> din comunitatile rurale ale Moldovei: proiect pilot in subregiunea Dumbravita
        </p>

        <h3 class="font-bold mb-8">PROIECTE IMPLEMENTATE</h3>

        <p class="mb-8">
            <strong>2012 /2013</strong> - Elaborarea și promovarea proiectului de construcție a stației termice
            bazată pe biomasă pentru încălzirea gimnaziului și grădiniței din s. Dumbrăvița
            finanțat de USAID (2,5 MLN lei MDL)
        </p>
        <p class="mb-8">
            <strong>2014</strong> - Elaborarea și promovarea proiectului de construcție a drumului în variantă
            albă pentru grupul - client beneficiar de producători (AO PODIȘ) co-finanțat de IFAD
            cu 85 % (2,8 MLN lei MDL)
        </p>

        <p class="mb-8">
            <strong>2015 /2016</strong> - Elaborarea și promovarea proiectului de reparații și termoizolare a
            cladirii gimnaziului (60 mii lei MDL) și a grădiniței (940 mii lei MDL) în parteneriat cu
            Primăria com. Dumbrăvița, proiecte co-finanțate de către Fondul pentru Eficiență
            Energetică din Moldova
        </p>
        <p class="mb-8">
            <strong>2016</strong> - Facilitarea și implementarea în parteneriat cu Primăria com. Dumbrăvița a
            proiectului privind construcția blocului sanitar la gimnaziul din s. Dumbrăvița finanțat
            de Eco-San (1,0 MLN lei MDL)
        </p>
        <p class="mb-8">
            <strong>2017</strong> - Elaborarea și promovarea proiectului de reparații capitale interioare a clădirii
            grădiniței din s. Dumbrăvița co-finanțat de Fondul de Investiții Sociale din Moldova
            (800 mii lei MDL)
        </p>
        <p class="mb-8">
            <strong>2020</strong> - Obținerea asistenței și finanțării caritabile prin Contract de filantropie alocate
            de către BATICOM UNIP LDA Portugalia (10285 EUR) pentru elaborarea și
            promovarea concepției Platformei agro – turistice și de producere cu impact benefic
            regional și internațional dedicat comunității locale, regionale și vizitatorilor străini
            interesați în cunoașterea tradițiilor, culturii ospitaliere și de agrement din Republica
            Moldova.
        </p>
    </div>
    <!--/Next & Prev Links-->

    {{ content.callToAction(callToAction) }}
</div>
<!--/container-->
{% endblock %}
