{% extends 'layout.html.twig' %}

{% import "utils.html.twig" as content %}

{% block container %}

<!--Container-->
<div class="container w-full md:max-w-5xl mx-auto pt-10 md:pt-20">

    <div class="w-full h-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

        <!--Title-->
        <div class="font-sans mb-10">
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                About Us
            </h1>
            <p class="text-sm md:text-base font-normal text-gray-600">Home > About Us</p>
        </div>

        <p class="mb-8">
            REGIONAL ASSOCIATION OF FARMERS AND ENTERPRISES &quot;PODIȘ&quot; NGO
            is a non-profit, apolitical, useful and civil interest association from Dumbrăvița commune, Singerei district,
            Republic of Moldova.
        </p>
        <p class="mb-8">
            It represents the visions and interests of its members, pursuing the
            development of multi-partnerships with compatible (Romanian) and foreign communities
            that promote local advocacy and lobbying policies in favor of implementing projects or other
            public, community, regional and extra-regional utility programs.
        </p>
        <p class="mb-8">
            It is dedicated to economic and non-economic activities, credit and investment, attracting investments and grants,
            multiplying relevant partnerships and cooperation, social and public support, with non-profit
            benefits and common interest for Romanian communities. from everywhere.
        </p>

        <h3 class="font-bold mb-8">SERVICES PORTFOLIO</h3>

        <p class="mb-3">PODIS NGO offers nationally and internationally the following Services:</p>
        <ul class="list-disc ml-10 mb-8">
            <li>
                Assistance and consulting in business, businesses, investments and loans
            </li>
            <li>
                Elaboration of concepts and visions of economic and non-economic projects offered to various groups of producers, public and private institutions
            </li>
            <li>
                Approaching and using innovative holistic methods and analyzes to promote competitive businesses through the Value Chain, Value System, LFA, SWOT, Cluster analysis, marketing
            </li>
            <li>
                Market analysis, Asset Portfolio and Services Portfolio methods, business plans, competitive strategies and market positioning
            </li>
            <li>
                Facilitating and Elaboration of development strategies and community, regional, sectorial strategic plans
            </li>
            <li>
                Facilitating public, private, public-private and associative partnerships and collaborations
            </li>
        </ul>

        <h3 class="font-bold mb-8">MANAGEMENT STRUCTURE</h3>

        <p class="mb-3">
            According to the Statute of the Association, the management and control bodies are:
        </p>
        <ul class="list-decimal ml-10 mb-8">
            <li>General Assembly</li>
            <li>The Council of the Association</li>
            <li>The administrator</li>
            <li>The censor</li>
        </ul>

    </div>

    {{ content.callToAction(callToAction) }}
</div>
<!--/container-->
{% endblock %}