{% extends 'layout.html.twig' %}

{% import "utils.html.twig" as content %}

 {% block meta %}
     <meta property="og:locale" content="ro_Ro"/>
     <meta property="og:type" content="article"/>
     <meta property="og:description" content="Amenajarea Basinului hidrografic si a malurilor riverane ale R. Ciulucul Mic din com. Dumbravita, R-NUL Singerei"/>
     <meta property="og:url" content="https://www.podis.md/ro/arrangement-of-the-river-banks-of-ciulucul-mic-river"/>
     <meta property="og:title" content="Amenajarea R. Ciulucul Mic"/>
     <meta property="og:image" content="https://podis.md/ciulucul-mic.jpg" />
 {% endblock %}

{% block container %}
<!--Container-->
<div class="container w-full md:max-w-5xl mx-auto pt-10 md:pt-20">

    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

        <!--Title-->
        <div class="font-sans mb-8">
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                Arrangement of the Hydrographic basin and of the river banks of Ciulucul Mic from Dumbravita, Singerei District
            </h1>
            <p class="text-sm md:text-base font-normal text-gray-600">Acasa > Proiecte Curente</p>
        </div>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v11.0" nonce="yPTjvuHa"></script>


        <p class="mb-5">
            Announcement of the launch of the Small Grant Competition for national and
            regional NGOs in the areas of the Bic, Răut, Larga, Tigheci, Ialpug, Naslavcea-
            Vasilcău sub-basins
        </p>

        <p class="mb-5">
            National Environmental Center NGO, with the financial support of the Government of
            Sweden, launches the proposal for grant-seekings for NGOs under the Small Grants
            Program (PGM) &quot;Environment, adaptation to climate change and ecosystems&quot;.
        </p>

        <p class="mb-5">
            See details and relevant information for participation by accessing the link
            <br>
            <a class="text-base text-blue-500 text-xl" href="https://www.environment.md/ro/noutati/anunt_de_lansare_a_concursului_de_granturi_mici_pentru_ong-urile_nationale_si_regionale_in_zonele_sub-bazinelor_bic_raut_larga_tigheci_ialpug_naslavcea-vasilcau" target="_blank">
                details ..
            </a>
        </p>

        <div>
            <img class="w-full md:w-2/5 float-right mb-5" src="/ciulucul-mic.jpg" alt="Ciulucul Mic">
            <strong>REGIONAL ASSOCIATION OF FARMERS AND ENTERPRISES &quot;PODIȘ&quot; NGO</strong>
            in partnership with the Mayoralty of Dumbrăvița commune, made a joint effort to
            solve a major problem in the commune, namely in the field of environment and
            ecology, pursuing the noble goal of contributing to community mobilization through
            public and associative partnership in order to facilitate the arrangement of the riparian
            banks of the Ciulucul Mic river and to promote the civic-ecological education for the
            improvement and maintenance of the afferent ecosystem.
        </div>

        <p class="mb-8">
            The project is planned to be implemented between 01.02.2021 - 31.05.2021 with an
            estimated budget of about 150 thousand MDL lei.
        </p>

        <h3 class="font-bold mb-8 uppercase">Project Data:</h3>

        <h4 class="font-bold mb-8">Overall objective:</h4>
        <p class="mb-8">
            Community mobilization and strengthening the civic and ecological spirit to improve
            the perimeter of the river basin of Ciulucul Mic river that crosses Dumbrăvița
            commune by facilitating the arrangement of banks and planting riparian trees,
            including by promoting skills and awareness of maintaining the ecosystem facilitated
            by the community.
        </p>
        <h4 class="font-bold mb-8">Specific objectives:</h4>

        <ul class="list-disc ml-10 mb-8">
            <li>To facilitate the cleaning and arrangement of the banks of Ciulucul Mic River on
                an area of about 5 ha (over 4 km long) and their consolidation by planting riparian
                trees with the support of the mobilized community from Dumbrăvița village, Vadul lui
                Vlad village and Bocancea-Schit village, Singerei district</li>
            <li>
                To develop and promote education and the spirit of preservation and extension
                of community ecology through information actions, debates and advocacy including
                the representative launch of the Dumbrăvița Ecological Guard
            </li>
        </ul>

        <div class="fb-share-button" data-href="https://www.podis.md/ro/arrangement-of-the-river-banks-of-ciulucul-mic-river" data-layout="button" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpodis.md%2Fro%2Fproject-re-construction-of-the-church-roof&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

    </div>
    <!--/Next & Prev Links-->

    {{ content.callToAction(callToAction) }}
</div>
<!--/container-->
{% endblock %}
