{% import "utils.html.twig" as content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>“PODIȘ” - Association</title>
    <link rel="canonical" href="https://podis.md/">
    {% block meta %}

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="ocolor: rgba(255,255,255,.54); border-color: rgba(255,255,255,.54);g:title" content="“PODIȘ” - Association">
    <meta property="og:description" content="REGIONAL ASSOCIATION OF FARMERS AND ENTERPRISES “PODIȘ”">
    <meta property="og:url" content="https://podis.md/">
    <meta property="og:site_name" content="Library">

    {% endblock %}

    <link
            href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
            rel="stylesheet"
    />


    <style>
        .text-hero {
            text-align: center;
            font-family: "Vidaloka",Sans-serif;
            font-size: 35px;
        }

        #map {
            height: 586px;
            width: 100%;
        }
    </style>
    {% block styles %}

    {% endblock %}

    <!--Replace with your tailwind.css once created-->
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% block nav %}
        {{ content.nav(menu) }}
    {% endblock %}

    {% block container %}
    {% endblock %}

    {% block footer %}
        {{ content.footer(footer) }}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
<script>
/* Progress bar */
//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('#progress'),
    scroll;
var scrollpos = window.scrollY;
var header = document.getElementById("header");
var navcontent = document.getElementById("nav-content");

document.addEventListener('scroll', function () {

    /*Refresh scroll % width*/
    scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');

    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;

    if (scrollpos > 10) {
        header.classList.add("bg-white");
        header.classList.add("shadow");
        navcontent.classList.remove("bg-gray-100");
        navcontent.classList.add("bg-white");
    } else {
        header.classList.remove("bg-white");
        header.classList.remove("shadow");
        navcontent.classList.remove("bg-white");
        navcontent.classList.add("bg-gray-100");

    }

});


//Javascript to toggle the menu
document.getElementById('nav-toggle').onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
}

var languages_list = {
    "en": "English",
    "ro": "Romanian - română"
};

(function () {
    var user_language_code = window.location.toString().split('/').reverse()[1];
    console.log(user_language_code)

    var option = '';
    for (var language_code in languages_list) {
        var selected = (language_code === user_language_code) ? ' selected' : '';
        option += '<option value="' + language_code + '"' + selected + '>' + languages_list[language_code] + '</option>';
    }

    document.getElementById('languages-list').innerHTML = option;
    document.getElementById('languages-list').onchange = (ev) => {
        var lang = ev.currentTarget.options[ev.currentTarget.selectedIndex].value;

        var url = window.location.toString().replace(/\/(en|ro)\//, '/'+lang+'/');
        if (location.pathname === '/') {
            url += lang+'/home'
        }
        window.location = url;
    }
})();
</script>
</body>

</html>
